<!-- 스케줄 등록 양식 -->
<form id='frmSchedule' name='frmSchedule' method='post'>
	<input type='hidden' name='stamp' value='{{ stamp }}'>
	{% if color %}
	<input type='hidden' name='prevColor' value='{{ color }}'>
	<input type='hidden' name='prevPeriod' value='{{ period }}'>
	{% endif %}
	<div class='box box1'>
		<div class='color'>
			<ul class='selection'>
				{% for _color in colors %}
				<li>
					<input type='radio' name='color' value='{{ _color }}' id='color{{ loop.index }}'
						{% if color and color == _color %}
							checked
						{% else %}
							{% if loop.index == 1 %} checked{% endif %}
						{% endif %}
					>
					<label for='color{{ loop.index }}' style="background-color: {{ _color }};"></label>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class='title'>
			<input type='text' name='title' placeholder='일정 제목' value='{% if title %}{{ title }}{% endif %}'>
		</div>
	</div>
	<div class='box box2'>
		<dl>	
			<dt>시작</dt>
			<dd>
				<input type='text' name='startDate' value='{% if startDate %}{{ startDate }}{% else %}{{ date }}{% endif %}' class='datepicker' readonly>
			</dd>
		</dl>
		<dl>
			<dt>종료</dt>
			<dd>
				<input type='text' name='endDate' value='{%if endDate %}{{ endDate }}{% else %}{{ date }}{% endif %}' class='datepicker' readonly>
			</dd>
		</dl>
	</div>
	<div class='save'>스케줄 저장</div>
</form>